html {
    height: 100%;
}

body {
    height: 100%;
    background-color:black;
    
}
#copyright{
    color:white;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{
    text-align:center;
    font-size:40px;
    color:#f4b164;
}
.leftPane{
    color:yellow;
}

.navbar{
    display:flex;
    justify-content:space-around;
}

.social{
    display:flex;
    justify-content:center;
}
.gallery{
    display:flex;
    justify-content:space-around;
}

.thumbnail{
    width:25%;
    margin:5px;
}
.thumbnail-image{
    width:100%;
}
