html {
    height: 100%;
}

.body {
    height: 100%;
    background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0057/5758/rrrBone_Yard_Flat_RVSD_450__Lrgr_shop_thumb.png");
}
body:hover{
     background-image:url("https://wallpaper4rest.com/animals/wallpaper/mini-dog-paw-prints-pattern-computer-wallpaper_1-800x600.jpg");
}
#copyright{
    color:white;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
    display: flex;
    justify-content:center;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{
    text-align:center;
    font-size:40px;
    color:#ff893f;
}
.leftPane{
    /*color:yellow;*/
}

.navbar{
    display:flex;
    justify-content:space-around;
}

.social{
    display:flex;
    justify-content:center;
}
.gallery{
    display:flex;
    justify-content:space-around;
}

.thumbnail{
    width:25%;
    margin:5px;
}
.thumbnail-image{
    width:100%;
}
p{
    color:black;
}
#intro2{
    display:flex;
    justify-content:center;
}